[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
fabric3 = "*"
flake8 = "*"
ipython = "*"
pycodestyle = "*"
tox = "*"
tox-pipenv = "*"
pygraphviz = "*"
autopep8 = "*"

[packages]
django-activecollab-digger = "==0.7.2"
django-extensions = "==2.2.5"
django-kdl-ldap = "==1.2"
django-kdl-wagtail = "==0.9.6"
django-libsass = "==0.7"
django-model-utils = "==3.2.0"
django-redis = "==4.10.0"
django_compressor = "==2.3"
psycopg2-binary = "==2.8.4"
pyzotero = "==1.4.10"
wagtail = "==2.7"
wagtailmenus = "==3.0.0"
wand = "==0.5.7"
wagtail-bakery = "==0.4.0"

[requires]
python_version = "3.5"
