{% load wagtailcore_tags wagtailimages_tags %}

{% if children %}
<ul class="nested-list no-bullet{% if class %} {{ class }}{% endif %}">
    {% for child in children %}
    <li class="child-page{% if child.get_children %} parent{% endif %}">

        {% if child.get_children %}
        <span class="toggler close clearfix"></span>
        {% endif %}
        
        <a href="{% pageurl child %}">
            {{ child.title }}
        </a>

        {% if child.get_children %}
        {% include "kdl_wagtail_core/includes/page_children.html" with children=child.get_children class="sub hide" %}
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% include "kdl_wagtail_core/includes/pagination.html" with items=children %}


{% else %}
<p>No live pages found!</p>
{% endif %}