{% load wagtailcore_tags wagtailimages_tags %}

{% if children %}
<ul class="nested-list no-bullet">
    {% for child in children %}
    <li class="child-page{% if child.get_children %} parent{% endif %}">

        {% if child.get_children %}
        <span class="toggler close clearfix"></span>
        {% endif %}
        
        <a href="{% pageurl child %}">
            {{ child.title }}

            {% comment %}

            {% if child.image %}
            <div class="child-page-image">
                {% image child.image fill-180x180-c100 %}
            </div>
            {% endif %}

            {% if child.introduction %}
            <div class="child-page-introduction">
                {{ child.introduction }}
            </div>
            {% endif %}

            {% endcomment %}
        </a>

        {% if child.get_children %}
        <ul class="sub hide no-bullet">
            {% for sub in child.get_children %}
            <li class="child-page"><a href="{% pageurl sub %}">{{ sub.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% include "kdl_wagtail_core/includes/pagination.html" with items=children %}


{% else %}
<p>No live pages found!</p>
{% endif %}