{% load kdl_wagtail_core_tags wagtailcore_tags %}

<div class="modal" data-multiple-opened="true">
    <div class="title">
        <a data-open="{% get_object_id self 'modal' %}">{{ self.title }} {{ self.id_for_label }}</a>
    </div>

    <div class="content reveal" id="{% get_object_id self 'modal' %}" data-multiple-opened="true" data-reveal>
        {% for block in self.body %}
        {% include_block block %}
        {% endfor %}

        <button class="close-button" data-close="{% get_object_id self 'modal' %}" aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>