@import 'settings';
@import 'fonts';
@import 'fontawesome';
@import '../../node_modules/foundation-sites/scss/foundation';

// Need to check if this is needed
@import '../../node_modules/motion-ui/motion-ui';

@include foundation-everything;

/* Globals */

body {
  font-family: 'KingsCaslon', serif;
  font-size: rem-calc(20);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.badge {
  border-radius: 4px;
  font-size: 0.875rem;
  margin-left: 0.5rem;
  padding: 0 0.3rem;
  vertical-align: middle;
}

.bottom-footer,
.top-header {
  margin: 0;
  padding: rem-calc(16);
}

button {
  display: block;

  img,
  svg {
    border: 0 !important;
    display: block;
    height: 20px;
    opacity: 0.6;
    width: 20px;
  }

  &:hover {
    cursor: pointer;

    img,
    svg {
      opacity: 1;
    }
  }
}

.center {
  text-align: center;
}

.header-background {
  background: $light-gray;
  height: 50px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.header {
  display: block;
}

.list-children {
  border-top: 5px dashed $primary-color;
  margin-top: 1rem;
  padding-top: 1rem;
}

.block {
  flex: 100% 0;

  @include breakpoint(medium) {
    &.float-left,
    &.float-right,
    &.float-left + .block.richtext_block,
    &.float-right + .block.richtext_block {
      flex: 47% 0;
      justify-content: space-between;
    }
  }

  @include breakpoint(small only) {
    &.float-left,
    &.float-right,
    &.float-left + .block.richtext_block,
    &.float-right + .block.richtext_block {
      flex: 90% 0;
    }
  }

  &.embed_block {
    .embed {
      max-width: 640px;
    }
  }
}

.highlight {
  background: scale-color($bright-yellow, $lightness: 50%);
  padding: 0.25rem 0.5rem;
}

select {
  appearance: auto;
}

.show {
  display: block;
}

/* TODO: needs styling */
.anchor-link {
  left: -1.25rem;
  position: absolute;
  top: 3px;

  &::before {
    clear: left;
    content: '\f0c1';
    font-family: 'Font Awesome 5 Pro';
    font-size: 16px;
    font-weight: 900;
  }
}

a {
  overflow-wrap: break-word;

  &:focus {
    outline: 1px solid $dirty-orange;
  }

  &:visited {
    color: $medium-gray;
  }
}

.external {
  &::before {
    content: '\f35d';
    font-family: 'Font Awesome 5 Pro';
    font-size: 14px;
    font-weight: 900;
    padding-right: 4px;
  }
}

figure,
img {
  .external {
    &::before {
      display: none;
    }
  }
}

.search {
  button {
    border: 0;
    padding: 0.5rem;

    svg {
      fill: $white;
    }
  }

  @include breakpoint(medium only) {
    margin-top: 2rem;
  }

  @include breakpoint(small only) {
    margin-top: 1rem;
  }
}

// Skip to content
.skip-to-content-link {
  background: #e77e23;
  height: 30px;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;

  &:focus {
    transform: translateY(0%);
  }
}



#count {
  color: $primary-color;
}

/* Block types */
/*
 * .embed_block
 * .image_block
 * .pullquote_block
 * .richtext_block
 * .table_block
 *
 */

/* Allowing content to float and display side by side */
/* A bit hacky, but since we are not using pure css   */
/* grid yet, this is a work around.                   */

.projectpage,
.themepage {
  &.page-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.block,
.embed,
.image,
.modal,
.timeline {
  position: relative;
}

iframe {
  border: 0;
}

// Alignments

.center {
  text-align: center;
  margin: 1rem auto;
}

.left {
  float: left;
  margin-right: 1rem;
}

.right {
  float: right;
  margin-left: 1rem;
}

// Errors

.errors {
  margin-top: rem-calc(48);
}

// Headings

h1, h2, h3,
h4, h5, h6 {
  color: $medium-gray;
  font-family: 'KingsBureauGrot', sans-serif;
  line-height: 1.25em;
  padding-bottom: 0.25em;

  &.small {
    line-height: 1;
    padding-bottom: 0;
  }

  .small {
    font-size: 0.75em;
  }
}

/* Header */

.page-header {
  margin-top: rem-calc(24);

  h1 {
    border-bottom: 1px solid $light-gray;
  }
}

.top-header {
  @include breakpoint(small only) {
    text-align: center;
  }

  .logo {
    img {
      max-height: 70px;
    }
  }
}

/* Breadcrumbs */

.breadcrumbs {
  margin: 1rem 0 0;

  a {
    svg:hover {
      fill: $dirty-orange;
    }
  }

  ul {
    margin: 0;
  }

  li {
    font-size: 0.875rem;
  }

  svg {
    fill: $primary-color;
    width: 16px;
  }
}

// Full page title: shows hierarchy of the page
.small-text {
  color: $white;
  font-family: "KingsBureauGrot", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .25rem;
  padding: 0;
}

/* Lists */

ol li {
  ol li {
    list-style-type: lower-latin;

    ol li {
      list-style-type: lower-roman;
    }
  }
}

/* Navigation */

nav {
  font-family: 'KingsBureauGrot', sans-serif;

  &.top-nav {
    margin-top: -0.375rem;

    .menu {
      margin: 0.5rem 0;

      .active > a {
        background: $light-gray;
        border-bottom: 8px solid $dark-gray;
        color: $dark-gray;

        &.item-projects,
        &.item-sections {
          background-color: $navylike;
          color: $white;
        }

        &.item-researchers,
        &.item-contributors {
          background-color: $dark-green;
          color: $white;
        }

        &.item-themes {
          background-color: scale-color($dirty-orange, $lightness: -20%);
          color: $white;
        }
      }

      @include breakpoint(small only) {
        display: block;
        margin-top: 2rem;

        li {
          a {
            padding: 1rem 0.75rem 0.75rem;
          }
        }
      }
    }
  }
}

.sidebar {
  &.is-stuck {
    max-height: 95vh;
    overflow-y: scroll;
    padding-right: 1rem;
  }
}

.toc {
  hyphens: auto;
  overflow-wrap: normal;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.top-bar {
  font-size: rem-calc(20);
  padding: 0;
  text-transform: uppercase;

  a {
    border-bottom: 4px solid $light-gray;
    padding-top: rem-calc(8);

    &:hover {
      background: $primary-color;
      color: $white;
    }
  }

  input {
    @include breakpoint(small only) {
      max-width: 100%;
    }
  }
}

a[class^='item-'] {
  border-radius: 2px;
  color: $white;
  margin-right: 1rem;

  &::before {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    padding-right: 8px;
  }

  @include breakpoint(small only) {
    margin-right: 0;
    margin-top: 0.5rem;
    padding: 0.75rem;
  }
}

a.item-projects,
a.item-sections {
  &::before {
    content: '\f0c5';
  }
}

a.item-blue,
a.item-projects,
a.item-sections {
  background: $navylike;
  border-bottom: 4px solid $bright-navy;

  &:hover {
    background: $bright-navy;
  }
}

a.item-researchers,
a.item-contributors {
  &::before {
    content: '\f0c0';
  }
}

a.item-green,
a.item-researchers,
a.item-contributors {
  background: $dark-green;
  border-bottom: 4px solid $bright-green;

  &:hover {
    background: $bright-green;
  }
}

a.item-themes {
  &::before {
    content: '\f660';
  }
}

a.item-orange,
a.item-themes {
  background: $dirty-orange;
  border-bottom: 4px solid $bright-orange;

  &:hover {
    background: $bright-orange;
  }
}

a.item-yellow,
a.item-methods {
  background: $dirty-yellow;
  border-bottom: 4px solid $bright-yellow;

  &:hover {
    background: $bright-yellow;
  }
}

a[class$='_block'] {
  &::before {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    padding-right: 10px;
  }
}

.block[class$='_block'] {
  &::before {
    content: '';
  }
}

.embed_block {
  &::before {
    content: '\f04b';
    color: $dirty-orange;
  }
}

.image_block {
  &::before {
    content: '\f03e';
    color: $dark-green;
  }
}

.pullquote_block {
  &::before {
    content: '\f10d';
    color: $bright-blue;
  }
}

.richtext_block {
  &::before {
    content: '\f1dd';
    color: $primary-color;
  }
}

.table_block {
  &::before {
    content: '\f0ce';
    color: $dirty-yellow;
  }

  table {
    margin-left: 2rem;
    width: 96%;
  }
}

.controls {
  button,
  .button {
    background-color: $dark-blue;
    padding: 4px;
  }
}

// Responsive menu
// Small screen title bar

.title-bar {
  color: $black;
  right: 0;
  position: absolute;
  top: 8px;

  .menu-icon {
    &::after {
      background-color: $medium-gray;
      box-shadow: 0 7px 0 $medium-gray, 0 14px 0 $medium-gray;
    }
  }
}

.submenu {
  background: $light-gray !important;
  border: none;
  box-shadow: 0 5px scale-color($light-gray, $lightness: -30%);
  list-style: none;
  margin: 0;

  li,
  .is-submenu-item {
    border-top: 1px solid $white;

    a {
      padding: 0.75rem 0.5rem 0.5rem;
    }
  }
}

/* Main */

main {
  padding-left: 1rem;
  padding-right: 1rem;
}

.rich-text,
.richtext {
  a {
    text-decoration: underline;

    &:hover {
      background: lighten($color: $dirty-yellow, $amount: 40%);
      text-decoration: none;
    }
  }
}

.hp-intro {
  font-size: 1.5rem;
  line-height: 2;
  margin: 2rem auto 1rem;
  max-width: 960px;

  @include breakpoint(small only) {
    margin: 0 auto 1rem;
  }
}

.content {
  border-top: 10px solid $light-gray;
  padding: 0 0 2rem;
}

// Blockquotes

blockquote {
  border-left: 1px solid $light-gray;
  // compensate for border
  margin-left: 1px;
  margin-top: 0.5rem;

  p {
    margin-bottom: 0.5rem;
  }
}

cite {
  &.attribution {
    font-size: 16px;

    &::before {
      content: '\2014';
      padding-right: 8px;
    }
  }
}

// Callouts

#message-success {
  position: fixed;
  width: 100%;
  z-index: 9;
}

// Cards

.no-border {
  border: 0 !important;
}

.card-section {
  &.no-border {
    padding: 0;
  }

  ul {
    margin: 0 0 0.5rem;
  }
}

// Dummy card for category
#index_themes,
#index_sections,
#peopleindex_contributors {
  .card-divider {
    z-index: 1;
  }
}

#index_themes {
  .card-divider {
    background: $dirty-orange;
  }

  .no-img img {
    filter: sepia(100%) hue-rotate(292deg) saturate(2000%);
  }
}

#index_sections {
  .card-divider {
    background: $navylike;
  }

  .no-img img {
    filter: sepia(100%) hue-rotate(177deg) saturate(1000%);
  }

  .card-section {
    border-top: 5px solid $bright-blue;
  }
}

#peopleindex_contributors {
  .card-divider {
    background: $dark-green
  }

  .no-img img {
    filter: sepia(100%) hue-rotate(35deg) saturate(200%);
  }

  .card-section {
    border-top: 5px solid $bright-green;
  }
}
// End dummy card

.card {
  border: none;
  margin: 0;
  padding: 0;

  &.projectpage {
    .card-section {
      border-top: 5px solid $bright-blue;
    }

    h3 {
      &::before {
        color: $white;
        content: '\f570';
        font-family: 'Font Awesome 5 Pro';
        font-weight: 900;
        padding-right: 8px;
      }
    }

    &.child {
      background-color: transparent;
      opacity: 0.95;
      padding: 2rem;

      &:hover {
        opacity: 1;
      }

      .card-section {
        border-top: 3px dashed $bright-blue;
      }
    }
  }

  &.researcherpage {
    .card-section {
      border-top: 5px solid $bright-green;
    }

    h3 {
      &::before {
        color: $white;
        content: '\f007';
        font-family: 'Font Awesome 5 Pro';
        font-weight: 900;
        padding-right: 8px;
      }
    }
  }

  // .streampage == default
  &.streampage {
    .card-section {
      border-top: 5px solid $dark-gray;
    }
  }

  &.themepage {
    .card-section {
      border-top: 5px solid $bright-orange;
    }

    h3 {
      &::before {
        color: $white;
        content: '\f07b';
        font-family: 'Font Awesome 5 Pro';
        font-weight: 900;
        padding-right: 8px;
      }
    }
  }

  h3 {
    font-size: rem-calc(20);
  }

  a {
    &.intro {
      color: $dark-gray;

      &:hover {
        background: $bright-yellow;
        text-decoration: none;
      }
    }
  }

  img {
    border: 1px solid $light-gray;
    width: 100%;
  }

  [id*='project-list-'] {
    li {
      background: $white;
    }
  }
}

.no-img {
  display: block;
}

.top-card {
  border-top: 5px solid transparent;
  margin: 0;
  padding: 0;
  position: relative;

  &:hover {
    border-top: 5px solid yellow;
  }
}

.card-divider {
  background: rgba(55, 55, 55, 0.8);
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;

  .grid-x {
    width: 100%;
  }

  h3 {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 1.1875em;
    padding-right: 8px;
    text-indent: -1.1875em;

    a {
      color: $white;
    }
  }

  .levelselected {
    border-top: 8px solid $bright-orange;
  }

  .level {
    display: inline-block;
    height: 35px;
    margin-left: 4px;
    width: 20%;
  }

  .one {
    background: $primary-color;
  }

  .two {
    background: scale-color($primary-color, $lightness: 33%);
  }

  .three {
    background: scale-color($primary-color, $lightness: 66%);
  }
}

// Embeds and Documents

audio {
  margin-left: 2rem;
  width: 90%;
}

audio + p {
  padding-left: 0.5rem;
}

.caption {
  font-style: italic;
}

.document {
  margin-left: 2.25rem;

  &::before {
    color: $primary-color;
    content: '\f56d';
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
  }
}

.embed {
  clear: both;
  margin: 1rem 0;
  width: 100%;

  p {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
  }
}

.meta-toggler {
  background: $light-gray;
  left: 0;
  padding: 2px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 32px;

  a {
    display: block;
  }
}

// Expand/Collapse

.toggler {
  float: right;
  width: rem-calc(40);

  &:hover {
    cursor: pointer;
  }

  &.close {
    &::before {
      content: '\f330';
      font-family: 'Font Awesome 5 Pro';
    }
  }

  &.open {
    &::before {
      content: '\f32d';
      font-family: 'Font Awesome 5 Pro';
    }
  }
}

// Images

main,
.main {
  .image {
    margin-bottom: 1rem;

    &.float-center {
      text-align: center;

      figcaption {
        text-align: center;
      }
    }

    .external {
      &::before {
        display: none;
      }
    }
  }
}

.full-width,
.full-width img {
  width: 100%;
}

.gallery {
  margin-bottom: 1rem;

  .cell {
    border: 1px solid $white;
    position: relative;
  }

  figure {
    background: $light-gray;
    display: block;
    height: 100%;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
  }
}

.richtext-image {
  margin-bottom: 1.5rem;
}

.acknowledgement {
  font-size: rem-calc(14);
  line-height: 1.25;
  margin-top: 1rem;
}

.empty-heading {
  display: block;
  height: 50px;
  width: 100%;
}

.kcl {
  padding-top: 1rem;

  @include breakpoint(small only) {
    max-width: 250px;
  }
}

.reveal {
  .close-button {
    background: $white;
    border-radius: 0 0 0 16px;
    padding-left: 8px;

    &:hover {
      font-weight: 700;
    }
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

// Lists

.horizontal {
  li {
    display: inline-block;
  }
}

.nested-list {
  > li:not(:first-child) {
    border-top: 1px solid $light-gray;
  }

  li li {
    margin-left: rem-calc(16);
    padding: rem-calc(8);
  }
}

// Metadata and Filters

.filters-container {
  display: block;
  margin-top: 2rem;

  .is-stuck {
    background: $body-background;
    display: block;
    padding-top: 1rem;
    width: 100%;
  }

  .sticky {
    display: block;
  }
}

#current-filters,
#current-filters button,
.filters,
.filters select {
  font-family: 'KingsBureauGrot', sans-serif;
  font-weight: 300;
}

.filters option {
  line-height: 1.5;
}

#current-filters {
  button,
  .button {
    background-color: $light-gray;
    border: none;
    border-right: 5px solid $white;
    border-left: 5px solid;
    color: $black;

    &::after {
      content: '\f00d';
      font-family: 'Font Awesome 5 Pro';
      font-weight: 900;
      padding-left: 8px;
    }

    &:hover {
      background-color: scale-color($dark-gray, $lightness: 80%) !important;
      color: $black;
    }

    &.project,
    &.section,
    &.researcher,
    &.contributor,
    &.theme {
      color: $dark-gray;
    }

    &.project,
    &.section {
      border-left: 5px solid $bright-navy;
    }

    &.researcher,
    &.contributor {
      border-left: 5px solid $bright-green;
    }

    &.theme {
      border-left: 5px solid $bright-orange;
    }

    &.all {
      background-color: $dark-gray;
      border-left: none;
      color: $white;

      &::after {
        content: '\f2ed';
      }
    }
  }
}

// Jump to content buttons

#jump-to-content {
  &::before {
    content: 'Jump to: ';
  }

  a {
    padding: 0 .5rem;
  }

  padding-bottom: 1rem;
}

.page-meta {
  border-bottom: 10px solid $light-gray;
  margin-bottom: 8px;
  padding-bottom: 8px;

  p {
    margin-bottom: 0;
  }
}

.person,
.tag {
  a {
    color: $dark-gray;

    &:hover {
      box-shadow: inset 0 -2px 0 0 $dark-gray;
      text-decoration: none;
    }
  }
}

.person {
  font-family: 'KingsBureauGrot', sans-serif;
  font-size: 18px;
}

.persons {
  li {
    &:not(:last-child) {
      &::after {
        content: ', ';
        margin-left: -4px;
      }
    }
  }
}

.flat {
  li {
    display: block;
  }

  button {
    &:hover {
      background: scale-color($bright-navy, $lightness: 50%);
      color: $black;
    }
  }
}

.tag {
  // background-color: $light-gray;
  // border-radius: 2px;
  border: 1px solid $light-gray;
  color: $dark-gray;
  font-family: 'KingsBureauGrot', sans-serif;
  font-size: 12px;
  font-weight: 300;
  hyphens: auto;
  // overflow-wrap: break-word;
  padding: 2px 8px;

  &.project,
  &.section,
  &.researcher,
  &.contributor,
  &.theme {
    border-bottom: 3px solid;
    padding: 2px 0 0;
  }

  a {
    display: block;
    padding: 0 8px;
  }

  button,
  .button {
    font-weight: 300;
    margin-bottom: 0;
    padding: 2px 8px;
  }

  .badge {
    border-radius: 2px;
    font-size: 12px;
    padding: 2px;

    &.secondary {
      background: $white;
      color: $dark-blue;
    }
  }
}

.project,
.project.tag {
  border-color: $bright-navy;
}

.section,
.section.tag {
  border-color: $bright-navy;
}

.researcher,
.researcher.tag {
  border-color: $bright-green;
}

.contributor,
.contributor.tag {
  border-color: $bright-green;
}

.theme,
.theme.tag {
  border-color: $bright-orange;
}


.project.tag,
.section.tag,
.researcher.tag,
.contributor.tag,
.theme.tag {
  background: lighten($color: $light-gray, $amount: 7%);
  font-size: 14px;
}

// Text

.intro {
  color: scale-color($dark-gray, $lightness: 20%);
  font-size: 1.5rem;
  line-height: 1.25;
  margin-top: 1rem;
}

// Timeline

.timeline {
  .items {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
  }

  li {
    &::before {
      color: $primary-color;
      content: '\f192';
      display: inline-block;
      font-family: 'Font Awesome 5 Pro';
      font-weight: 400;
      vertical-align: top;
      width: 30px;
    }

    h4 {
      display: inline-block;
      max-width: 80%;
    }

    .content {
      border-left: 1px solid $primary-color;
      border-top: none;
      line-height: 1;
      margin-left: 8px;
      margin-top: 0;
      padding-left: 22px;
      padding-top: 0;

      p {
        line-height: 1.25;
      }
    }
  }
}

/* Footer */

footer {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $black;
  }

  h2 {
    font-size: 1.5625rem;
  }
}

// Cookies box

.cookies-box {
  background: $dark-blue;
  bottom: 0;
  color: white;
  left: 0;
  margin: 0;
  opacity: 0.95;
  padding-top: 1rem;
  position: fixed;
  text-align: center;
  width: 100%;

  button,
  .button {
    font-family: 'KingsBureauGrot', sans-serif;
    font-size: rem-calc(18);
    font-weight: normal;
  }
}

.bottom-footer {
  background-color: $light-gray;

  .external {
    &::before {
      display: none;
    }
  }

  @include breakpoint(small only) {
    .cell {
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }
  }
}

/* Prevent the menu bar to display before JS is loaded */

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.responsive-embed {
  background-color: $light-gray;
  border: 0.5rem solid $light-gray;
  margin-left: 2rem;
  max-width: 640px;
  padding-bottom: 48%;

  &.audio {
    @include breakpoint(medium) {
      padding-bottom: 19%;
    }
  }
}

// Remove extra padding for responsive embeds
// in rich-text divs

.rich-text {
  .responsive-object {
    max-width: 100%;
    padding-bottom: 0 !important;

    iframe {
      background-color: $light-gray;
      max-width: 100%;
      padding: 8px;
    }
  }
}

/* SVG/Viz */

button {
  &.showviz {
    background: $light-gray;
    clear: both;
    display: inline-block;
    float: right;
    margin: 0;
    padding: rem-calc(16);
    text-align: right;

    &:hover {
      background: $medium-gray;
      color: $white;
    }

    img {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.collapsible-container {
  border-top: 10px solid $light-gray;
  padding: 2rem 0 0;
}

svg {
  .svg-link {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

#viz-container {
  padding-top: 1rem;
  border-top: 10px solid $light-gray;
}

#viz-legend {
  li {
    font-family: 'KingsBureauGrot', sans-serif;
    text-transform: uppercase;

    &.section,
    &.theme {
      &::before {
        content: '';
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-right: 4px;
      }
    }

    &.section::before {
      background-color: $dark-blue;
    }

    &.theme::before {
      background-color: $bright-orange;
    }

    &.menu-text {
      font-family: 'KingsCaslon', serif;
      text-transform: capitalize;
    }

    &.project,
    &.section {
      color: $dark-blue;
    }

    &.researcher,
    &.contributor {
      color: $dark-green;
    }

    &.theme {
      color: $dirty-orange;
    }
  }
}
