{% load kdl_wagtail_core_tags menu_tags staticfiles %}

<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-4 large-3">
      <h2>{{ PROJECT_TITLE }}</h2>
      <p>&copy; {% now 'Y' %}</p>
    </div>
    <div class="cell medium-8 large-3">
      <nav>
        {% flat_menu 'footer_menu' apply_active_classes=True template='menus/footer_menu.html' %}
      </nav>
    </div>
    <div class="cell medium-12 large-6">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-8">
          <a href="//erc.europa.eu/">
            <img src="{% static 'images/LOGO_ERC-FLAG_EU.svg' %}" alt="ERC funding acknowledgement.">
          </a>
          <p class="acknowledgement">This publication has been made possible as a result of funding from the European Research Council (ERC) for the project 'Ego-Media: the impact of new media on forms and practices of self-presentation' [FP7/2007-2013; grant agreement No. 340331].</p>
        </div>
        <div class="cell center medium-4">
          <a href="//kcl.ac.uk/">
            <img src="{% static 'images/kings-logo-red.svg' %}" alt="King's College London website." class="kcl">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      {% get_footer_text %}
      <p>
          Designed and developed by <a href="//kdl.kcl.ac.uk">King's Digital Lab</a>.
      </p>
    </div>
  </div>
</div>
