{% load staticfiles %}

<div class="header-background"></div>
<div class="grid-container header">
    <div class="grid-x">
        <div class="cell logo small-12 medium-2">
          <a href="/"><img src="{% static 'images/Ego_Media_logo.svg' %}" alt="EgoMedia"></a>
        </div>
        
        <div class="cell small-12 medium-10">
            {% block main_nav %}
            <nav class="top-nav">
              {% include 'includes/navigation.html' %}
            </nav>
            {% endblock %}
        </div>
    </div>
</div>