{% load staticfiles %}

<footer class="sup-footer">
  <div class="container">
    <div class="left">
      <p>© 2023 Stanford University.
        <a href="https://egomedia.org/tou/index.html">Terms of Use</a>.
      </p>
    </div>
    <div class="center">
      <p>ISBN: 9781503633544 |
        DOI: <a href="https://doi.org/10.21627/2023em">10.21627/2023em</a> |
        OCLC: <a href="https://www.worldcat.org/oclc/">1234556789</a>
      </p>
    </div>
    <div class="right">
      <p>Published by <a href="https://www.sup.org/" target="_blank">Stanford University Press</a></p>
      <div class="footer-graphic">
        <img src="{% static 'images/logo_stanford.svg' %}" alt="Stanford University Press" width="15" height="33">
      </div>
    </div>
  </div>
</footer>
