{% load core_tags wagtailcore_tags %}

{% block breadcrumbs %}
{% get_site_root as site_root %}
{% breadcrumbs root=site_root current_page=self %}
{% endblock %}

root: {{ root }}

<div class="breadcrumbs">
    Breadcrumbs
    <ul class="breadcrumbs">
            <li>
                <a href="{% pageurl root %}"><i class="fa fa-home fa-lg"></i></a>
            </li>

            {% for page in pages %}
            <li>
                {% if forloop.last %}
                {{ page.title }}
                {% else %}
                <a href="{% pageurl page %}">{{ page.title }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
</div>