{% extends "base.html" %}
{% load staticfiles %}

{% block page-body %}

{{ self.body }}

{% if pages %}
<div class="content">
    {% include "core/includes/filters.html" %}

    <div id="results"
      class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
      {% for page in pages %}
      {% include "core/includes/card.html" %}
      {% endfor %}
    </div>
</div>
{% else %}
<p>No live pages found!</p>
{% endif %}

<div id="viz">
</div>

{% endblock page-body %}

{% block footer_scripts %}
<script src="{% static 'isotope-layout/dist/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/filters.js' %}"></script>
<script src="{% static 'd3/dist/d3.min.js' %}"></script>
<script src="{% static 'js/viz.js' %}"></script>
{% endblock footer_scripts %}
