{% extends "base.html" %}
{% load core_tags staticfiles %}

{% block page-body %}
<div class="hp-intro">
  {{ self.body }}
</div>

<div id="viz-container">
  <ul class="menu simple" id="viz-legend">
    <li class="menu-text">Legend:</li>
  </ul>
  <div id="viz">
  </div>
</div>
{% endblock page-body %}

{% block footer_scripts %}
<script src="{% static 'd3/dist/d3.min.js' %}"></script>
<script type="text/javascript">
  /* beautify preserve:start */
  const vizData = {{ viz_data | safe }}
  /* beautify preserve:end */
</script>
<script src="{% static 'js/viz.js' %}"></script>
{% endblock footer_scripts %}
