{% extends "kdl_wagtail_core/base_stream_page.html" %}
{% load kdl_wagtail_core_tags wagtailcore_tags wagtailembeds_tags %}

{% block page-body %}
  <div class="page-meta">
    {% if self.project_researcher_relationship.all %}
    <ul class="horizontal no-bullet persons">
      {% for item in self.project_researcher_relationship.all %}
      <li class="person"><a href="{% pageurl item.researcher %}">{{ item.researcher }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    {% include "core/includes/labels.html" with page=self %}
  </div>

  <div class="grid-x">
    <div class="cell medium-3">
      {% include "core/includes/toc.html" %}
    </div>

    <div class="cell medium-7">
      {{ block.super }}
    </div>
  </div>
{% endblock %}