{% extends "kdl_wagtail_core/base_page.html" %}
{% load staticfiles %}

{% block page-body %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-12">
    <h2 id="search-details">
      <span id="search-query" class="highlight">___</span>
      <span>found in</span>
      <span id="count"><i class="fas fa-spinner fa-spin"></i></span>
      <span>pages</span>
    </h2>
    <ol class="results"></ol>
  </div>
</div>
{% endblock page-body %}

{% block footer_scripts %}
<script src="{% static 'lunr/lunr.js' %}"></script>
<script type="text/javascript">
  /* beautify preserve:start */
  const build = {{ build }}

  {% if build %}
  const data = {{ data | safe }}
  {% else %}
  const docsIndexUrl = '{% static "js/search_docs_index.json" %}'
  const indexUrl = '{% static "js/search_index.json" %}'
  {% endif %}
  /* beautify preserve:end */
</script>
<script src="{% static 'js/search.js' %}"></script>
{% endblock footer_scripts %}
