{% extends "kdl_wagtail_core/base_stream_page.html" %}

{% block page-body %}
<div class="page-meta">
  {% include "core/includes/researchers.html" with researchers=self.theme_researcher_relationship.all %}

  {% include "core/includes/labels.html" with page=self %}
</div>

<div class="grid-x grid-margin-x">
  <div class="cell medium-3" data-sticky-container>
    <div class="sticky sidebar" data-sticky data-anchor="theme-content">
      {% include "core/includes/toc.html" %}
    </div>
  </div>

  <div class="cell medium-9" id="theme-content">
    {% if page.introduction %}
    <p class="intro" id="intro">
      {{ page.introduction }}
    </p>
    {% endif %}

    {{ block.super }}
  </div>
</div>
{% endblock %}
