{% load wagtailcore_tags wagtailimages_tags %}

{% for child in children %}

<div class="child-page">
    {% if child.image %}
    <div class="child-page-image">
        {% image child.image fill-180x180-c100 as image %}
        <a href="{% pageurl child %}">
            <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}" />
        </a>
    </div>
    {% endif %}

    {% if child.introduction %}
    <div class="child-page-introduction">
        <a href="{% pageurl child %}">
            {{ child.introduction }}
        </a>
    </div>
    {% endif %}
</div>

{% empty %}
<p>No live pages found!</p>
{% endfor %}