{% load staticfiles compress %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block meta_title %}{{ self.title }}{% endblock %} | Ego Media</title>
  <meta name="author" content="King's Digital Lab">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {# TODO: set GA_ID in settings and pass it to the context with a context processor #}
  {% include 'includes/google-analytics.html' %}

  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}" defer>
  {% endcompress %}

  {# Favicon #}
  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
</head>
<body>
  <header class="top-header">
    {% include 'includes/header.html' %}
  </header>

  <nav>
    {% include 'includes/navigation.html' %}
  </nav>

  <main>
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          {% block page-header %}
          {% endblock %}
          {% block page-body %}
          {% endblock %}
        </div>
      </div>
    </div>
  </main>

  <footer class="bottom-footer">
    {% block footer %}
    {% include 'includes/footer.html' %}
    {% endblock %}
  </footer>

  {% compress js %}
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static '@fortawesome/fontawesome-pro/js/all.min.js' %}"></script>
  <script src="{% static 'foundation-sites/dist/js/foundation.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% endcompress %}

  {% compress js %}
  {% block footer_scripts %}{% endblock %}
  {% endcompress %}
</body>
</html>
