{% load core_tags kdl_wagtail_core_tags wagtailcore_tags wagtailimages_tags %}

{% get_page_label page as page_label %}

<div class="cell {% get_filter_value page_label|cut:'page' page.title %}">
  <div class="card {{ page_label }}{% if page.depth != 4 %} child{% endif %}" data-equalizer-watch="card">
    <div class="card-divider">
      <h3><a href="{% pageurl page %}">{{ page.title }}</a></h3>
      {% if page_label == 'projectpage' %}
      <span class="level one{% if page.depth == 4 %} highlight{% endif %}"></span>
      <span class="level neutral"></span>
      <span class="level two{% if page.depth == 5 %} highlight{% endif %}"></span>
      <span class="level neutral"></span>
      <span class="level three{% if page.depth == 6 %} highlight{% endif %}"></span>
      {% endif %}
    </div>

    {% if page.image %}
    <a href="{% pageurl page %}">
      {% image page.image fill-600x300-c100 %}
    </a>
    {% endif %}

    <div class="card-section">
      {% if page.search_description %}
      <a href="{% pageurl page %}">
        {{ page.search_description|truncatechars:150 }}
      </a>
      {% endif %}

      <!-- <button class="tiny secondary button expanded button-toggler">Expand</button> -->
      <div class="hide sub">
        {% include "core/includes/labels.html" with page=page %}
      </div>
    </div>
  </div>
</div>