{% load core_tags humanize kdl_wagtail_core_tags staticfiles wagtailcore_tags wagtailimages_tags %}

{% get_page_label page as page_label %}

<div id="{% get_filter_value page_label|cut:'page' page.title %}"
     class="cell cardcontainer {% get_filter_value page_label|cut:'page' page.title %}"
     {% if page_label == 'projectpage' and page.is_child %} data-child="data-child"
                                                            {% endif %}>
  <div
      class="card {{ page_label }}{% if page_label == 'projectpage' and page.is_child %} child{% endif %}">
    <div class="top-card">
      <div class="card-divider">
        <div class="grid-x align-bottom">
          <div class="cell small-11">
            {% if page.is_child %}
            <p class="small-text">{{ page.get_full_title }}</p>
            {% endif %}
            <h3><a href="{% pageurl page %}">{{ page.title }}</a></h3>
          </div>
          <div class="cell small-1">
            <button data-toggle="tags-{{ page.id }}"
                    aria-label="More info on {{ page.title }}" class="float-right">
              <img src="{% static 'svgs/info-circle-white.svg' %}" alt="">
            </button>
          </div>
        </div>
      </div>

      {% if page.image %}
      <a href="{% pageurl page %}">
        {% image page.image fill-600x300-c100 format-jpeg jpegquality-40 as img %}
        <img{% if img.alt %} alt="{{ img.alt }}" {% endif %} class="lazyload"
                                                             data-src="{{ img.url }}"
                                                             src="{% static 'images/placeholder-600x300.png' %}">
      </a>
      {% else %}
      <a class="no-img" href="{% pageurl page %}">
        <img src="{% static 'images/placeholder-600x300.png' %}">
      </a>
      {% endif %}
    </div>

    <div class="card-section">
      <div id="tags-{{ page.id }}" class="hide" data-toggler=".hide">
        {% if site_root %}
        {% breadcrumbs root=site_root current_page=page show_home=False %}
        {% endif %}

        {% if page.search_description %}
        <p>
        <a href="{% pageurl page %}">
          {{ page.search_description|truncatechars:150 }}
        </a>
        </p>
        {% endif %}

        {% include "core/includes/labels.html" with page=page %}
      </div>
    </div>
  </div>
</div>

{% if page_label == 'projectpage' and page.sections.count > 0 %}
{% for child in page.sections %}
{% include "core/includes/card.html" with page=child site_root=site_root %}
{% endfor %}
{% endif %}
