{% load core_tags wagtailcore_tags %}

{% if page.endnotes.count > 0 %}

{% with endnotes=page.endnotes.all %}
<div class="block endnotes">
  <a class="anchor-link" id="endnotes"></a>
  <h2>Endnotes</h2>

  <ol>
    {% for endnote in endnotes %}
    <li id="fn:{{ forloop.counter }}">
      {% if endnote.pre_text %}
      {{ endnote.pre_text|richtext }}
      {% endif %}

      {% if endnote.bibliography_shortnote %}
      {{ endnote.bibliography_entry.shortnote }}
      {% else %}
      {{ endnote.bibliography_entry.note }}
      {% endif %}

      {% if endnote.bibliography_pages %}
      {{ endnote.bibliography_pages }}.
      {% endif %}

      {% if endnote.post_text %}
      {{ endnote.post_text|richtext }}
      {% endif %}

      <a href="#fnref:{{ forloop.counter }}" class="reversefootnote">↩</a>
    </li>
    {% endfor %}
  </ol>
</div>
{% endwith %}

<div class="block bibliography">
  <a class="anchor-link" id="bibliography"></a>
  <h2>Bibliography</h2>

  {% if request.is_preview %}
  <div class="callout alert">
    <h5>Bibliography entries order</h5>
    <p>The order of the bibliography entries may not be as expected/correct in
      <strong>preview mode</strong>.
    </p>
  </div>
  {% endif %}

  <ul class="no-bullet">
    {% sort_endnotes page.endnotes.all 'bibliography_entry__order' as endnotes %}
    {% regroup endnotes by bibliography_entry as entry_list %}

    {% for entry in entry_list %}
    <li>{{ entry.grouper.entry }}</li>
    {% endfor %}
  </ul>
</div>

{% endif %}
