{% load core_tags %}

<div class="grid-x small-up-1 medium-up-4 large-up-8">
  <div class="cell">
    <h3>Filter by</h3>
  </div>
  {% for filter in filters %}
  <div class="cell filters">
    <select class="filter {{ filter.0 }}" data-category="{{ filter.0 }}">
      <option value="">{{ filter.0|capfirst }}</option>

      {% for v in filter.1 %}
      <option value=".{% get_filter_value filter.0 v %}">{{ v|capfirst }}</option>
      {% endfor %}
    </select>
  </div>
  {% endfor %}
</div>

<div class="grid-x small-up-1 medium-up-4 large-up-8" id="current-filters">
  <div class="cell">
    <button type="button" class="button secondary expanded all" id="clear-filters" disabled>Clear all</button>
  </div>
</div>