{% load kdl_wagtail_core_tags core_tags wagtailcore_tags wagtailimages_tags %}
{% comment %}
<nav role="navigation" class="table-of-contents">
    {% if page.body %}
    <h4>Table of Contents</h4>
    <ul>
        {% for block in page.body %}
        <li>
            <a href="#{% get_object_id block %}">
                {% get_block_title block %}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if page.get_children %}
    <h4>Sub projects</h4>
    <ul>
        {% for child in page.get_children %}
        <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</nav>
{% endcomment %}

<div class="cell controls">
    <button class="button"><i class="fas fa-sort-numeric-down fa-lg"></i></button>
    <button class="button"><i class="fas fa-sort-alpha-down fa-lg"></i></button>
</div>

<nav role="navigation">
    {% if page.body %}
    <ul class="no-bullet">
        {% for block in page.body %}
        <li>
            <a href="#{% get_object_id block %}" class="{{ block.block_type }}">
                {% get_block_title block %}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if page.get_children %}
    <ul>
        {% for child in page.get_children.specific %}
        <li>
            {{ child.image }}
            {% if child.image %}
            {% image child.image fill-600x300-c100 %}
            {% endif %}
            <a href="{% pageurl child %}">{{ child.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</nav>