{% load kdl_wagtail_core_tags core_tags wagtailcore_tags wagtailimages_tags %}

<nav role="navigation" class="toc">
    {% if page.body %}
    <h4>On this page</h4>
    <ul class="no-bullet">
        {% if page.introduction %}
        <li>
            <a href="#intro" class="richtext_block">Introduction</a>
        </li>
        {% endif %}

        {% for block in page.body %}
        {% if block.value.show_in_menus %}
        <li>
            <a href="#{% get_object_id block %}" class="{{ block.block_type }}">
                {% get_block_title block %}
            </a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page.endnotes.count > 0 %}
        <li>
            <a href="#endnotes" class="endnotes_block">Endnotes</a>
        </li>

        {% if page.has_bibliography %}
        <li>
            <a href="#bibliography" class="endnotes_block">Bibliography</a>
        </li>
        {% endif %}
        {% endif %}
    </ul>
    {% endif %}

    {% if page.get_children.live %}
    <h4 class="list-children">Other pages in this section</h4>
    <ul>
        {% for child in page.get_children.live.specific %}
        <li>
            <a href="{% pageurl child %}">{{ child.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</nav>
