{% load kdl_wagtail_core_tags wagtailcore_tags wagtailembeds_tags %}

<div class="embed">
  {% if self.description|wordcount > 2 %}
  <a data-open="{% get_object_id self.description 'description' %}" class="meta-toggler">
    <i class="fas fa-info-circle"></i>
  </a>
  {% endif %}

  {% if self.transcription|wordcount > 2 %}
  <a data-open="{% get_object_id self.transcription 'transcription' %}" class="meta-toggler">
    <i class="fas fa-file-alt"></i>
  </a>
  {% endif %}

  <div class="iframe-container">
    {% embed self.embed_block.url %}
  </div>

  <p>{% include "kdl_wagtail_core/includes/caption_attribution.html" %}</p>
  <p>{% include "kdl_wagtail_core/includes/description_transcription.html" %}</p>
</div>