{% load kdl_wagtail_core_tags wagtailcore_tags wagtailimages_tags %}

<div class="grid-x small-up-1 medium-up-2 large-up-3 gallery">
  {% for image in self.images_block %}

  <div class="cell">
    {% include "kdl_wagtail_core/includes/description_transcription.html" with obj=image %}

    <figure>
      {% if image.link %}
      <a class="{% if image.url %}external{% else %}internal{% endif %}"
        href="{{ image.link }}">{% image image.image fill-600x600 %}</a>
      {% else %}
      <a
        data-open="image-{{ image.image.id }}">{% image image.image fill-600x600 %}</a>
      {% endif %}
      <figcaption>
        {% include "kdl_wagtail_core/includes/caption_attribution.html" with obj=image %}
      </figcaption>
    </figure>
  </div>

  {% if not image.link %}
  <div class="content large reveal" id="image-{{ image.image.id }}"
    data-multiple-opened="true" data-reveal>
    {% image image.image max-800x800 %}

    <button class="close-button" data-close="image-{{ image.image.id }}"
      aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}

  {% endfor %}
</div>