{% extends "kdl_wagtail_core/base_page.html" %}
{% load kdl_wagtail_core_tags wagtailcore_tags %}

{% block page-body %}
<div class="page-body {% get_page_label page %}">
  {% for block in page.body %}
  <div
    class="block{% if block.value.alignment %} {{ block.value.alignment }}{% endif %} {{ block.block_type }}">
    <a class="anchor-link" id="{% get_object_id block %}"></a>

    {% include_block block %}
  </div>
  {% endfor %}

  {% include "core/includes/endnotes.html" %}
</div>
{% endblock page-body %}
